[Desktop Entry]
Version=5.0.9
Name=Roo Builder
Comment=Vala and Javascript Application Builder
Exec=roobuilder
Icon=roobuilder
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
