Source: roobuilder
Section: unknown
Priority: optional
Maintainer: Alan <alan@roojs.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://www.roojs.com
#Vcs-Browser: https://salsa.debian.org/debian/roobuilder
#Vcs-Git: https://salsa.debian.org/debian/roobuilder.git

Package: roobuilder
Architecture: any
Multi-Arch: foreign
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: Vala and Javascript IDE 
 for building Vala Desktop applications and Javascript UI's using the roojs libraries (for bootstrap and classic)
